.patron-header {
  background: #dadada;
  background-color: gold;
  display: flexbox;
  padding: 8px;
  border-radius: 20px 20px 0px 0px;
  font-weight: 600;
 
}

.patron-details {
  background-color: lightgray;
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 8px;
  border-radius: 0px 0px 20px 20px;
  /* background-color: mediumseagreen; */
}
.container {
  flex-direction: row;  
  flex-wrap: wrap;
  padding: 40px;
}
.table {
  border: solid black;
  
background-color: red;

text-align: center;

}
.patronCss{
border: solid black 1px;
background-color: grey;
padding: 10px;
}