#tableNumbers {
    color: #023047;
    font-size: 20px;
    margin: 15px;
    padding: 0px 10px 10px 10px;
}

#serverDeanna {
    width: 40em;
    background: #023047;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    color: #ffb703;
    padding: 5px;
    text-align: center;
}

#tablesDeanna {
    background: #fa9b2f;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

ul {
    padding: 10px 20px;
}

#seat {
    background: #f7e7bf;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 20px;
    text-align: left;
    list-style-type: none;
    color: #023047;
}