.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.dashboard{
    text-align: center;
    font-size: 50px;
}
body{
    background-color: rgb(119, 119, 182);
}

.margin {
    margin-bottom: 20px;
}